@import '../../sass/abstracts/abstracts';

.pagination {
    border-radius: 5px;
    display: inline-block;
    margin: em(20px) 0;

    &-wrap {
        display: block;
        text-align: center;
    }

    &Label {
        position: relative;
        @include visuallyhidden;
    }

    &List {
        list-style: none;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    &Item {
        display: inline-block;
        margin: 0 em(5px);
    }

    &Link {
        align-items: center;
        background-color: #fff;
        border-radius: 20%;
        box-shadow: 0 10px 30px -10px rgba(#532ee7, 0.5);
        color: #292929;
        display: flex;
        font-family: Verdana, Geneva, sans-serif;
        font-size: em(16px);
        height: em(40);
        justify-content: center;
        text-decoration: none;
        width: em(40);
        @include animate-transition(all, 0.5s);

        &:hover {
            box-shadow: 0 1px 1px rgba(#532ee7, 0.1);
        }

        &-live {
            background-color: rgba(#532ee7, 0.5);
            box-shadow: 0 10px 30px -10px rgba(#532ee7, 0.1);
            color: #fff;
        }

        &-prev {
            &:after {
                border-bottom: em(5px) solid transparent;
                border-right: em(8px) solid #292929;
                border-top: em(5px) solid transparent;
                content: '';
                margin-top: 1px;
                position: absolute;
            }
        }

        &-next {
            &:after {
                border-bottom: em(5px) solid transparent;
                border-left: em(8px) solid #292929;
                border-top: em(5px) solid transparent;
                content: '';
                margin-top: 1px;
                position: absolute;
            }
        }
    }

    &Word {
        display: none;

        @media only screen and (min-width: em(1000px)) {
            display: inline-block;
        }
    }
}
