@import '../../sass/abstracts/_abstracts';

.pagination {
    border-radius: 5px;
    display: inline-block;
    margin: to-rem(20px) 0;

    @media only screen and (min-width: to-rem(700px)) {
        margin: to-rem(40px) 0;
    }

    &-wrap {
        display: block;
        text-align: center;
    }

    &Label {
        position: relative;
        @include visuallyhidden;
    }

    &List {
        list-style: none;
        margin: 0;
        text-align: center;
        width: 100%;
    }

    &Item {
        display: inline-block;
        margin: 0 to-rem(5px);

        @media only screen and (min-width: to-rem(700px)) {
            margin: 0 to-rem(7px);
        }
    }

    &Link {
        align-items: center;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 10px 30px -10px rgba(#532ee7, 0.5);
        color: #292929;
        display: flex;
        font-family: Verdana, Geneva, sans-serif;
        font-size: to-rem(16px);
        height: to-rem(40);
        justify-content: center;
        text-decoration: none;
        width: to-rem(40);
        @include animate-transition(all, 0.5s);

        @media only screen and (min-width: to-rem(700px)) {
            height: to-rem(50);
            width: to-rem(50);
            font-size: to-rem(20px);
        }

        &:hover {
            box-shadow: 0 1px 1px rgba(#532ee7, 0.1);
        }

        &-live {
            background-color: rgba(#532ee7, 0.5);
            box-shadow: 0 10px 30px -10px rgba(#532ee7, 0.1);
            color: #fff;
        }

        &-prev {
            &:after {
                border-bottom: to-rem(5px) solid transparent;
                border-right: to-rem(8px) solid #292929;
                border-top: to-rem(5px) solid transparent;
                content: '';
                margin-top: 1px;
                position: absolute;
            }
        }

        &-next {
            &:after {
                border-bottom: to-rem(5px) solid transparent;
                border-left: to-rem(8px) solid #292929;
                border-top: to-rem(5px) solid transparent;
                content: '';
                margin-top: 1px;
                position: absolute;
            }
        }
    }

    &Word {
        display: none;

        @media only screen and (min-width: to-rem(1000px)) {
            display: inline-block;
        }
    }
}
