@import '../../sass/abstracts/abstracts';

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: all;

    ul {
        color: #292929;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: 0;
    }

    li {
        text-align: center;

        @media only screen and (min-width: em(730px)) {
            margin-right: em(20);
            width: auto;
        }

        &:last-of-type {
            margin-right: 0;
            a {
                background-color: #532ee7;
                border-radius: em(15);
                box-shadow: 0 10px 30px -10px rgba(#532ee7, 0.5);
                color: #fff;
                font-weight: 300;
                @include animate-transition(all, 0.5s);
                &:hover {
                    box-shadow: 0 1px 1px rgba(#532ee7, 0.1);
                }
                @media only screen and (min-width: em(730px)) {
                    font-weight: 700;
                }
            }
        }
    }

    a {
        padding: em(3) em(9);
        text-decoration: none;
    }
}
