@import '../../sass/abstracts/_abstracts';

.menu {
    &Nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: all;
    }

    &List {
        color: #292929;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: 0;
    }

    &Item {
        text-align: center;

        @media only screen and (min-width: to-rem(730px)) {
            margin-right: to-rem(20);
            width: auto;
        }

        &Link {
            padding: to-rem(3) to-rem(9);
            text-decoration: none;
        }

        &:last-of-type {
            margin-right: 0;
            .menuItemLink {
                background-color: #532ee7;
                border-radius: to-rem(15);
                box-shadow: 0 10px 30px -10px rgba(#532ee7, 0.5);
                color: #fff;
                font-weight: 300;
                @include animate-transition(all, 0.5s);
                &:hover {
                    box-shadow: 0 1px 1px rgba(#532ee7, 0.1);
                }
                @media only screen and (min-width: to-rem(730px)) {
                    font-weight: 700;
                }
            }
        }
    }
}
