@import '../../sass/abstracts/abstracts';

.article-container {
    margin: 0 auto;
    padding-left: em(15);
    padding-right: em(15);
    width: 100%;
    min-height: calc(100vh - (#{em(75)} + #{em(67)} + 3em + 1.25em));
}

@media only screen and (min-width: em(730px)) {

    .article-container {
        max-width: em(700);
        padding-left: 0;
        padding-right: 0;
    }

}
