@import '../../sass/abstracts/abstracts';

.relatedCard {
  width: 100%;

  a {
      text-decoration: none;
  }

  @media only screen and (min-width: em(800px)) {
    margin-right: 20px;
    width: calc(33.333% - (20px / 3 * 2));

    &:last-of-type {
      margin-right: 0;
      width: calc(33.333% - (20px / 3 * 2));
    }
  }
}

.relatedCard_title {
  font-size: em(20);

}
