.container,
.article-container {
    padding: 0 em(15);
    margin: 0 auto;
    width: 100%;
}

@media only screen and (min-width: em(730px)) {

    .article-container {
        padding: 0;
        max-width: em(700);
    }

}

@media only screen and (min-width: em(1000px)) {

    .container {
        padding: 0;
        margin: 0 auto;
        max-width: em(960);
    }

}
