@import '../../sass/abstracts/abstracts';

.relatedWrap {
    margin: em(40) 0;
}

@media only screen and (min-width: em(700px)) {
    .relatedCards {
        display: flex;
    }

    .relatedWrap {
        margin: em(60) 0;
    }
}
