@import '../../sass/abstracts/_abstracts';

.wrap {
    display: block;
}

.date {
    display: inline-block;
    font-size: to-rem(16);
    font-style: italic;
    margin: to-rem(10) 0;
}

.updated {
    font-weight: 600;
    margin: 0;
}

@media only screen and (min-width: to-rem(730px)) {
    .date {
        font-size: to-rem(18);
    }
}
