@import '../../sass/abstracts/abstracts';

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    padding: 0 em(20);
    background-color: #fff;
}

.header__wrap {
    padding: 0.75em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header__title {
    font-size: em(30);
    margin: 0;
}

.header__link {
    text-decoration: none;
}

@media only screen and (min-width: em(730px)) {
    .header {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
        background-color: transparent;
    }

    .header__wrap {
        padding: 1em 0;
    }

    .header__title {
        font-size: em(40);
    }
}
