.header {
    background-color: rebeccapurple;
    margin-bottom: 1.45em;
}

.header__wrap {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.45em 1.0875em;
}

.header__title {
    margin: 0;
}

.header__link {
    color: white;
    text-decoration: none;
}
