.header {
    margin-bottom: 1.45em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}

.header__wrap {
    padding: 1em 0;
}

.header__title {
    margin: 0;
    font-size: em(20);
}

.header__link {
    text-decoration: none;
}
