@import '../../sass/abstracts/abstracts';

.header {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
    left: 0;
    padding: 0 em(20);
    position: fixed;
    right: 0;
    top: 0;
    pointer-events: none;
    z-index: 2;

    &Wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0.75em 0;
    }

    &Title {
        font-size: em(30);
        margin: 0;
    }

    &Link {
        pointer-events: all;
        text-decoration: none;
    }
}

@media only screen and (min-width: em(730px)) {
    .header {
        background-color: transparent;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);

        &Wrap {
            padding: 1em 0;
        }

        &Title {
            font-size: em(40);
        }
    }
}
