@import '../../sass/abstracts/_abstracts';

.card {
    &Wrap {
        margin-bottom: to-rem(40);

        @media only screen and (min-width: to-rem(730px)) {
            margin-bottom: to-rem(80);
            &:last-of-type {
                margin-bottom: to-rem(10);
            }
        }
    }

    &Link {
        width: 100%;
        text-decoration: none;
        @include animate-transition(all, 0.3s);

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }

    &Image {
        margin-bottom: 0;
    }

    &Title {
        font-size: to-rem(30);
    }

    &Excerpt {
        margin-top: to-rem(20);
    }
}
