@import '../abstracts/abstracts';

.post-list {
    margin-top: em(40);
    a {
        text-decoration: none;
        @include animate-transition(all, 0.3s);
    }

    a:hover,
    a:focus {
        opacity: 0.9;
    }
}

.post {
    margin-bottom: em(40);
}

.post__feat-image {
    margin: em(20) 0 em(35) 0;
}

.post-content {
    margin-top: em(20);
}

@media only screen and (min-width: em(730px)) {
    .post {
        margin-bottom: em(80);
        &:last-of-type {
            margin-bottom: em(10);
        }

        .article-container & {
            margin-bottom: em(80);
        }
    }
}
