@import '../../utils/sass/abstracts/abstracts';

.cats {

    list-style: none;
    margin: 0 0 em(10) 0;

    .cat {
        display: inline-block;
        margin: 0 0.25em 0.25em 0;
    }

}

.cat__name {
    font-size: em(14);
    font-style: italic;
    @include animate-transition( all, 0.3s );
}

.cat__name:hover,
.cat__name:focus {
    opacity: 0.5;
}
