@import '../../sass/abstracts/abstracts';

.item {
    display: inline-block;
    margin: 0 0.25em 0.25em 0;

    &List {
        list-style: none;
        margin: 0;
    }

    &Name {
        font-size: em(14);
        font-style: italic;
        @include animate-transition(all, 0.3s);

        &:hover,
        &:focus {
            opacity: 0.5;
        }
    }
}
