@import '../../sass/abstracts/_abstracts';

.container {
    color: #292929;
    margin: 0 auto;
    padding-left: to-rem(15);
    padding-right: to-rem(15);
    width: 100%;

    @media only screen and (min-width: to-rem(1000px)) {
        margin: 0 auto;
        max-width: to-rem(960);
        padding-left: 0;
        padding-right: 0;
    }
}
